<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>ParametroQuery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-avatar>
      <ion-img src="https://th.bing.com/th/id/OIP.74qoJYrKYNkLVDdbKiWNZAHaFZ?pid=ImgDet&rs=1">
      </ion-img>
    </ion-avatar>
    <ion-buttons>
      <ion-button (click)="navegarQuery()" color="primary">Click</ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
</ion-content>
