<ion-header>
  <ion-toolbar color="success">
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input placeholder="Ingrese su nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña:</ion-label>
    <ion-input placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Correo:</ion-label>
    <ion-input placeholder="Ingrese su correo"></ion-input>
  </ion-item>
  <ion-button [routerLink]="['/login']">Registrar</ion-button>
</ion-content>
